.claude
.workbuddy
.comate
*.tar.xz
chroma_db
venv/

node_modules/

backend/.venv
backend/.venv311
backend/.python-version
backend/models

__pycache__/
*.py[cod]
*$py.class

/backend/upload_files
/frontend-vue2/dist
